@using CMSGTechnical.Code
@using CMSGTechnical.Domain.Models
@using CMSGTechnical.Mediator.Basket
@using CMSGTechnical.Mediator.Dtos
@using MediatR

<div class="basket">

    @foreach (var entry in Basket.GroupedItems)
    { // added padding to the buttons for cleaner UI.
        var item = entry.Item;
        var qty = entry.Quantity;
        <div>
            <div>
                @item.Name x @qty - @item.Price
            </div>
            <div>
                <button class="btn btn-primary btn-round" style="padding: 0 10px" @onclick="() => BasketService.Add(item)">+
                </button>
                <button class="btn btn-primary btn-round" style="padding: 0 10px"
                    @onclick="() => BasketService.Remove(item)">- </button>
            </div>
        </div>
    }

    <div class="mt-3">
        Total: £@Basket.Total
    </div>
</div>


@code {



    [Inject] private IMediator Mediator { get; set; } = default!;

    private BasketDto Basket { get; set; } = new();
    [CascadingParameter]
    private BasketService BasketService { get; set; }

    protected override void OnInitialized()
    {
        Basket = BasketService.Basket;
        BasketService.OnChange += (sender, args) => StateHasChanged();
    }


    public void AddItem(MenuItemDto item)
    {
        Basket.MenuItems.Add(item);
        StateHasChanged();
    }

    public void Remove(MenuItemDto item)
    {
        Basket.MenuItems.Remove(item);
    }


}