@using CMSGTechnical.Mediator.Dtos

<div class="menu-item">
    <div class="menu-item__header">
        <div>
            <div class="menu-item__name">@Item.Name</div>
            @if (!string.IsNullOrWhiteSpace(Item.Category))
            {
                <div style="color: #666; font-size: 0.85rem;">@Item.Category</div>
            }
        </div>
        <div class="menu-item__price">£@Item.Price.ToString("0.00")</div>
    </div>

    @if (!string.IsNullOrWhiteSpace(Item.Description))
    {
        <div class="menu-item__desc">@Item.Description</div>
    }

    <div class="menu-item__actions">
        @if (OnAdd.HasDelegate)
        {
            <button class="btn btn-primary btn-round" @onclick="Add" title="Add to basket">+</button>
        }
        @if (OnRemove.HasDelegate)
        {
            <button class="btn btn-danger btn-round" @onclick="Remove" title="Remove from basket">-</button>
        }
    </div>
</div>


@code {

    [Parameter] public MenuItemDto Item { get; set; } = new();
    
    [Parameter]
    public EventCallback<MenuItemDto> OnAdd { get; set; }

    [Parameter]
    public EventCallback<MenuItemDto> OnRemove { get; set; }


    private async Task Remove() => await OnRemove.InvokeAsync(Item);
    private async Task Add() => await OnAdd.InvokeAsync(Item);
}
