@page "/"
@using CMSGTechnical.Code
@using CMSGTechnical.Domain.Models
@using CMSGTechnical.Mediator.Menu
@using MediatR
@using CMSGTechnical.Components.Shared
@using CMSGTechnical.Mediator.Dtos

<PageTitle>Home</PageTitle>

<div class="menu-container">
    @foreach (var categoryGroup in MenuItems.GroupBy(i => i.Category))
    {
        <div class="category-section">
            <h3 class="category-title">@categoryGroup.Key</h3>
            <div class="items-grid">
                @foreach (var item in categoryGroup)
                {
                    <MenuItemDisplay Item="@item" OnAdd="() => AddItem(item.Id)" />
                }
            </div>
        </div>
    }
</div>



@code
{
    [Inject] private IMediator Mediator { get; set; } = default!;


    private MenuItemDto[] MenuItems { get; set; } = Array.Empty<MenuItemDto>();
    [CascadingParameter]
    private BasketService Basket { get; set; }


    protected override async Task OnInitializedAsync()
    {
        MenuItems = (await Mediator.Send(new GetMenuItems())).ToArray();
    }

    private async Task AddItem(int id)
    {
        var menuItem = MenuItems.First(i=>i.Id==id);
        await Basket.Add(menuItem);
    }
    
}
